$highlight: hsl(322, 100%, 66%);

$header-background: hsl(193, 100%, 96%);
$dark-color: hsl(192, 100%, 9%);
$text-color: hsl(208, 11%, 55%);

$box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 4px;
$card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

$white: #ffff;