@use 'colors' as *;
@use 'breakpoints' as *;

$font-size: 1.125rem;
$title-bold: 2.3rem;

$font-title: 'Poppins', sans-serif;
$font-main: 'Open Sans', sans-serif;

$weight-bold: 700;

h1 {
    color: $dark-color;
    font-family: $font-title;
    font-size: 1.5rem;

    @include breakpoint {
        font-size: $title-bold;
    }
}

h2 {
    color: $dark-color;
    font-family: $font-title;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.025rem;
    color: $dark-color;
    font-family: $font-title;
    font-weight: $weight-bold;
}